{% extends "cobrador/layout.html" %}
{% block titulo %}Clientes{% endblock %}

{% block content %}

<div class="space-y-4">

{% for c in clientes %}

<a href="{{ url_for('detalle_cliente', cliente_id=c.id, ruta_id=ruta_id) }}"
   class="block bg-[#123b63] rounded-2xl p-4 shadow-md">

    <div class="flex justify-between items-center">

        <div>
            <div class="font-semibold">{{ c.nombre }}</div>
            <div class="text-xs opacity-70">{{ c.identificacion }}</div>
        </div>

        {% if c.credito_activo %}
            <div class="text-red-400 text-xs font-semibold">
                Crédito Activo
            </div>
        {% else %}
            <div class="text-green-400 text-xs font-semibold">
                Sin Crédito Activo
            </div>
        {% endif %}

    </div>

</a>

{% endfor %}

</div>

{% endblock %}
